<footer>
    <div class="container">
        <div class="row">
          
            <div class="col-md-12">
                

               

                        <div class="row rowFooter t40 fRowL1">
                            <div style="width: 50%;
                                   display: inline-block;
                                     border-right: 2px solid #FFF;margin-left:0; margin-right:0; color: beige" ;>
                                <img src="~/templatemo_557_grad_school/assets/images/100icon.png" style="margin-left:50%; transform:translateX(-120%);max-width:115px;"><div class="latoFooterText" style="text-align: center;">
                                    ORİJİNAL<br>YEDEK PARÇA
                                </div>
                            </div>

                            <div style="width: 50%;
                                   display: inline-block;
                                   border-right: 2px solid  #0000 ;margin-left:0; margin-right:0; color: beige" ;>
                                <img src="~/templatemo_557_grad_school/assets/images/techicon.png" style="margin-left:50%; transform:translateX(-120%);max-width:115px;"><div class="latoFooterText" style="text-align: center;">
                                    YETKİN<br>TEKNİSYEN
                                </div>
                            </div>

                        </div>

                <div>
                    <a href="tel:+908502221585" class="bluePhoneClass">
                        <img src="~/templatemo_557_grad_school/assets/images/phone.png" style="width: 24px;">+90 850 222 1 585
                    </a>
                </div>

                <div>
                    <a href="mailto:musteridestek@kvkteknikservis.com" class="bluePhoneClass">
                        <img src="~/templatemo_557_grad_school/assets/images/mail.png" style="width: 24px;"><span style="padding-left:5px">musteridestek</span>
                    </a>
                </div>


                <div class="item">
                    <br />

                    <img src="~/templatemo_557_grad_school/assets/images/indir.png" alt="Course #1">

                    <div class="down-content">

                        <p>
                            <i class="fa fa-copyright"></i>  2023 Teknik Servis. All rights reserved.

                            | Design: <a href="https://templatemo.com" rel="sponsored" target="_parent">TemplateMo</a>
                        </p>
     
            </div>
        </div>
    </div>
</footer>


