<section class="section main-banner" id="top" data-section="section1">
    <video autoplay muted loop id="bg-video">
       
       <source src="~/templatemo_557_grad_school/assets/images/course-video.mp4" type="video/mp4" />
    </video>
    <div class="video-overlay header-text">
        <div class="caption">
            <h6>TEKNİK SERVİS</h6>
            <h2><em>TEKNİK</em> SERVİS</h2>
            <div class="main-button">
                <div class="scroll-to-section"><a href="#section2">CİHAZ TAKİP</a></div>
             
            </div>
            <br />

            <div class="main-button">
                <div class="scroll-to-section"><a href="#section2">GÜVENCE SORGULAMA</a></div>

            </div>
           
           
           
              
        </div>
    </div>
</section>